@import url('https://fonts.googleapis.com/css2?family=Gaegu&family=Hi+Melody&display=swap');

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 104px;
    border: 1px solid #000000;
    border-width: 0px 0px 1px 0px;
}

.title {
    font-family: "Gaegu", sans-serif;
    font-weight: 400;
    font-size: 35px;
}

